:root {
    --font-family: "Afacad Flux";
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    margin: 0px;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji {
    font-family: "Noto Color Emoji", serif;
    font-weight: 400;
    font-style: normal;
}

.page {
    background-color: #075e54;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    overflow: hidden;
    display: flex;
    position: absolute;
    transition: .1s;
    opacity: 0;
}
.page.active {
    visibility: visible;
    opacity: 1;
}

.button-wrapper {
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
}
button {
    background: #25d366;
    border: 3px solid black;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: .2s;
}
label::before,
button::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background: black;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: .2s;
}
label:hover,
button:hover {
    background: #48eb83;
}
button:hover {
    margin: -2.5px 0px 0px -2.5px;
}
label:hover::before,
button:hover::before {
    top: 5px;
    left: 5px;
}

input[type="file"] {
    display: none;
}

h1 {
    margin: 0px;
    font-size: 20px;
    flex: 1;
}
p {
    text-align: center;
    margin-top: 32%;
    font-size: 20px;
}

.navbar {
    display: flex;
    background-color: #25d366;
    border-bottom: 3px solid black;
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 15px;
    align-items: center;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    height: 35px;
    width: 35px;
}
.icon .bar {
    height: 5px;
    background: black;
    border-radius: 15px;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

div.bar:nth-of-type(1) {
    width:50%;
}
div.bar:nth-of-type(2) {
    width:100%;
}
div.bar:nth-of-type(3) {
    width:75%;
}

.navbar.active div.bar:nth-of-type(1), 
.icon:hover div.bar:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(-10px, 12px);
}
.navbar.active div.bar:nth-of-type(2), 
.icon:hover div.bar:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
}
.navbar.active div.bar:nth-of-type(3), 
.icon:hover div.bar:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(-3px, -5px) rotatez(45deg);
}

nav {
    position: absolute;
    width: calc(100% + 3px);
    margin-left: -3px;
    border-left: 3px solid black;
    background: #075e54;
    bottom: 0%;
    left: 110%;
    height: calc(100% - 67.5px);
    transition: .4s;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
nav.active {
    left: 0;
}

nav a,
nav .button {
    border: 3px solid black;
    color: black;
    width: 60%;
    text-align: center;
    padding: 15px 45px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    background-color: #25d366;
    cursor: pointer;
}
div#donate-button {
    width: 0px;
    height: 0px;
}
p.disclaimer {
    font-size: 14px;
    margin: 0px;
    width: 60%;
}

.progress-bar {
    width: 90%;
    height: 15px;
    background-color: #075e54;
    margin: 0px 5% 10px 5%;
    border: 3px solid black;
    border-radius: 50px;
}

.progress-bar .progress {
    height: 100%;
    width: 0;
    border-radius: 50px;
    background: repeating-linear-gradient(45deg, #25d366, #25d366 10px, #075e54 10px, #075e54 15px);
}

label {
    background: #25d366;
    border: 3px solid black;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    transition: .2s;
    margin-bottom: 25px;
    border-radius: 15px;
    position: relative;
}
label:hover {
    margin: -5px 0px 25px -5px;
}

.page#how h2 {
    text-align: center;
}

.top {
    margin-top: 15%;
}

.bottom {
    margin-top: auto;
    display: flex;
    gap: 15px;
}
.bottom button {
    flex: 1;
}

a {
    color: #25d366;
}

.button-wrapper.privacy {
    display: flex;
    gap: 15px;
}
.button-wrapper.privacy button {
    flex: 1;
    padding: 15px;
}
button img {
    width: 100%;
}

.instruction img {
    object-fit: contain;
    height: 100%;
    border-radius: 15px;
}

.instruction ol {
    position: absolute;
    top: 15px;
    background-color: #25d366;
    border: 2px solid black;
    border-radius: 15px;
    padding: 25px;
    font-size: 18px;
}

@media (min-width: 768px) {
    .page {
        aspect-ratio: 8 / 16;
        width: unset;
        height: 90vh;
        border-radius: 15px;
    }
}