body {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.page {
    background-color: red;
    height: 100vh;
    width: 100vw;
}

@media (min-width: 768px) {
    .page {
        aspect-ratio: 9 / 16;
        width: unset;
        height: 90vh;
    }
}