:root {
    --font-family: "Afacad Flux";
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: black;
    user-select: none;
}

.pages {
    position: fixed;
    top: 15px;
    display: flex;
    height: 5px;
    width: calc(100vw - 20px);
    z-index: 5;
    gap: 5px;
}
.page-indicator {
    flex: 1;
    background: rgb(0, 0, 0, .2);
    border-radius: 10px;
    position: relative;
}
.page-indicator::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: white;
    transition: 8s linear;
    border-radius: 10px;
}
.page-indicator.active::before {
    width: 100%;
}
.page-indicator.finished::before {
    transition: none;
    width: 100%;
}

.emoji {
    font-family: "Noto Color Emoji", serif;
    font-weight: 400;
    font-style: normal;
}

.page {
    background-color: #580c82;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    overflow: hidden;
    display: flex;
    position: absolute;
    transition: .1s;
    opacity: 0;
}
.page.active {
    visibility: visible;
    opacity: 1;
}

.share-message.small {
    opacity: 1;
}

.page#page-1 {
    background: #8f30a1;
}
.page#page-1 h2 {
    position: relative;
    padding: 5px 25px;
    margin: 50px 0px 50px -30px;
}

.participant-layers div.layer-0 {
    background: #fe4773;
    z-index: -1;
}
.participant-layers div.layer,
.participant-layers div.layer-0 {
    border: 3px solid black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.active .layer-1 {
    animation: showLayer1 0.5s forwards 0.5s;
    background: #f6d68d;
    z-index: -2;
}
.active .layer-2 {
    animation: showLayer2 0.5s forwards 1s;
    background: #46b3a5;
    z-index: -3;
}
.active .layer-3 {
    animation: showLayer3 0.5s forwards 1.5s;
    background: #2e6d92;
    z-index: -4;
}

@keyframes showLayer1 {
    0% {top: 0px;left: 0px;}
    100% {top: 10px;left: 10px;}
}
@keyframes showLayer2 {
    0% {top: 10px;left: 10px;}
    100% {top: 20px;left: 20px;}
}
@keyframes showLayer3 {
    0% {top: 20px;left: 20px;}
    100% {top: 30px;left: 30px;}
}

.page#page-2 {
    background: #fe4773;
}
.page#page-3 {
    background: #f6d68d;
}
.page#page-4 {
    background: #46b3a5;
}
.page#page-5 {
    background: #2e6d92;
}
.page#page-6 {
    background: #fe4773;
}
.page#page-7 {
    background: #8f30a1;
}
.page#page-8 {
    background: #46b3a5;
}
.page#page-9 {
    background: #f6d68d;
}
.page#page-10 {
    background: #fe4773;
}
.page#page-11 {
    background: #46b3a5;
}
.page#page-12 {
    background: #2e6d92;
}
.page#page-13 {
    background: #8f30a1;
}
.page#page-14 {
    background: #580c82;
}

.button-wrapper {
    position: relative;
    z-index: 1;
}
button {
    background: #8f30a1;
    border: 3px solid black;
    border-radius: 15px;
    padding: 5px 50px;
    cursor: pointer;
    position: relative;
    transition: .2s;
}
button::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background: black;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: .2s;
}
button:hover {
    margin: -5px 0px 0px -5px;
    background: #9c3caf;
    transition: none;
}
button:hover::before {
    top: 10px;
    left: 10px;
    transition: none;
}

canvas {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 360px;
}

button {
    font-family: var(--font-family);
}

span {
    font-weight: 800;
}

h2 {
    font-size: 6vh;
    font-weight: 800;
}

h1,
h3 {
    font-size: 4vh;
    font-weight: 700;
}

h4 {
    font-size: 3vh;
}

h5 {
    font-size: 2.5vh;
}

h6 {
    font-size: 2vh;
}

h2, h3, h4, h5, h6 {
    margin: 10px 0;
    opacity: 0;
    transition: none;
}

.visible {
    opacity: 1;
}

.active .first {
    animation: fadeIn 0.5s forwards;
}
.active .second {
    animation: fadeIn 1s forwards 1s;
}
.active .third {
    animation: fadeIn 1s forwards 2s;
}
.active .fourth {
    animation: fadeIn 1s forwards 3s;
}
.active .fifth {
    animation: fadeIn 1s forwards 4s;
}
.active .sixth {
    animation: fadeIn 1s forwards 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.month-chart,
.day-chart {
    display: flex;
    width: calc(100% + 30px);
    height: 100%;
    align-items: end;
    margin: 0px -15px -15px -15px;
}

.month-chart {
    gap: 5px;
}

.month-chart div,
.day-chart div {
    flex: 1;
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0px 0px;
    background-color: #f6d68d;
}

.month-chart div {
    background-color: #e64074;
}
.day-chart div {
    border: 2px solid #fdbd2c;
}

.day-chart div:first-child {
    border-radius: 0px 5px 0px 0px;
}
.day-chart div:last-child {
    border-radius: 5px 0px 0px 0px;
}

.month-chart div:first-child {
    border-radius: 0px 0px 5px 0px;
    border-radius: 0px 5px 0px 0px;
}
.month-chart div:last-child {
    border-radius: 0px 0px 0px 5px;
    border-radius: 5px 0px 0px 0px;
}

.day-chart div span {
    margin-top: auto;
    margin-bottom: 15px;
}

.month-chart div span {
    margin-top: auto;
    margin-bottom: 15px;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.emoji-chart {
    width: calc(80% + 30px);
    height: calc(100% + 30px);
    display: flex;
    flex-direction: column;
    margin: -15px -15px -15px calc(-15px - 20%);
}

.emoji-chart div {
    flex: 1;
    background-color: #8f30a1;
    position: relative;
    text-align: right;
    border-radius: 0px 5px 5px 0px;
}
.emoji-chart div:first-child  {
    border-radius: 0px 0px 5px 0px;
}
.emoji-chart div:last-child  {
    border-radius: 0px 5px 0px 0px;
}

.emoji-chart div span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 10px;
}

#word-cloud svg {
    position: absolute;
    top: 0;
    left: 0;
}

.share {
    position: fixed;
    bottom: -100%;
    display: flex;
    gap: 5px;
    transition: .2s;
}
.share.active {
    bottom: 15px;
}

.share div {
    padding: 15px;
    font-size: 20px;
    background-color: rgb(0, 0, 0, .2);
    border-radius: 100%;
}

@media (min-width: 768px) {
    .pages {
        width: 80vw;
    }
    .page {
        aspect-ratio: 9 / 16;
        width: unset;
        height: 90vh;
        border-radius: 15px;
    }
    .share-message.small {
        display: none;
    }
    .share-message.big {
        opacity: 1;
    }
}