:root {
    --font-family: "Afacad Flux";
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: black;
}

.emoji {
    font-family: "Noto Color Emoji", serif;
    font-weight: 400;
    font-style: normal;
}

.page {
    background-color: #580c82;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    overflow: hidden;
    display: flex;
    position: absolute;
}
.page.active {
    visibility: visible;
}

.page#page-4 {
    background: #46b3a5;
}

.button-wrapper {
    position: relative;
    z-index: 1;
}
button {
    background: #8f30a1;
    border: 3px solid black;
    border-radius: 15px;
    padding: 5px 50px;
    cursor: pointer;
    position: relative;
    transition: .2s ease-in;
}
button::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background: black;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: .2s ease-in;
}
button:hover {
    margin: -5px 0px 0px -5px;
    background: #9c3caf;
    transition: none;
}
button:hover::before {
    top: 10px;
    left: 10px;
    transition: none;
}

canvas {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 360px;
}

button {
    font-family: var(--font-family);
}

span {
    font-weight: 800;
}

h2 {
    font-size: 6vh;
    font-weight: 800;
}

h1,
h3 {
    font-size: 4vh;
    font-weight: 700;
}

h4 {
    font-size: 3vh;
}

h5 {
    font-size: 2.5vh;
}

h6 {
    font-size: 2vh;
}

h2, h3, h4, h5, h6 {
    margin: 10px 0;
    opacity: 0;
    transition: none;
}

.active .first {
    animation: fadeIn 0.5s forwards;
}
.active .second {
    animation: fadeIn 1s forwards 1s;
}
.active .third {
    animation: fadeIn 1s forwards 2s;
}
.active .fourth {
    animation: fadeIn 1s forwards 3s;
}
.active .fifth {
    animation: fadeIn 1s forwards 4s;
}
.active .sixth {
    animation: fadeIn 1s forwards 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.month-chart,
.day-chart {
    display: flex;
    width: calc(100% + 30px);
    height: 100%;
}

.day-chart {
    margin: 0px -15px -15px -15px;
    align-items: end;
}
.month-chart {
    margin: -15px -15px 0px -15px;
}

.month-chart div,
.day-chart div {
    flex: 1;
    background-color: #f6d68d;
    display: flex;
    justify-content: center;
}

.day-chart div {
    border-radius: 5px 5px 0px 0px;
}
.month-chart div {
    border-radius: 0px 0px 5px 5px;
}

.day-chart div:first-child {
    border-radius: 0px 5px 0px 0px;
}
.day-chart div:last-child {
    border-radius: 5px 0px 0px 0px;
}

.month-chart div:first-child {
    border-radius: 0px 0px 5px 0px;
}
.month-chart div:last-child {
    border-radius: 0px 0px 0px 5px;
}

.day-chart div span {
    margin-top: auto;
    margin-bottom: 15px;
}

.month-chart div span {
    margin-bottom: auto;
    margin-top: 15px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.emoji-chart {
    width: calc(80% + 30px);
    height: calc(100% + 30px);
    display: flex;
    flex-direction: column;
    margin: -15px -15px -15px calc(-15px - 20%);
}

.emoji-chart div {
    flex: 1;
    background-color: #f6d68d;
    position: relative;
    text-align: right;
    border-radius: 0px 5px 5px 0px;
}
.emoji-chart div:first-child  {
    border-radius: 0px 0px 5px 0px;
}
.emoji-chart div:last-child  {
    border-radius: 0px 5px 0px 0px;
}

.emoji-chart div span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 10px;
}

@media (min-width: 768px) {
    .page {
        aspect-ratio: 9 / 16;
        width: unset;
        height: 90vh;
        border-radius: 15px;
    }
}